__pycache__/
*.py[cod]
*$py.class

*.egg-info/
build/
dist/
.eggs/


pip-log.txt
pip-delete-this-directory.txt


.pytest_cache/


.vscode/

.ipynb_checkpoints/


.DS_Store


.env
.venv
env/
venv/

.mypy_cache/